
@media only screen and (max-width: 768px) {
    .data-row {
        overflow-x: scroll;
    }
    h4{
        font-size: 20px;
        padding-left: 1em;
    }
}
.img-det{
    max-width: 400px;
    padding: 1.5em;
    border-radius: 20;
}
.ph-des{
    padding: 1.5em;
    color: #fff;
}
.para-main{
    max-width: 900px;
}
.title-main{
    padding-left: 1em;
}

.countdown {
    color: #a9a9a9;
    text-decoration: none;
    font-weight: bold;
    border:2px solid #fdd361;
    width: 320px;
    height: 50px;
    font-size: 26px;
    padding-left: 24px;
    padding-right: 20px;
    margin-bottom: 90px;
    border-radius:30px;
    align-items: center;
    justify-content: center;
  }

  input[type="submit"]{
    position: relative;
    border-radius: 25px ;
    width: 130px;
    height: 50px;
    background:  #fcda79;
    color: #fff;
    font-size: 14px;
    border: 1px solid var(--clr-accent-500);
    box-shadow: var(--clr-accent-500);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 7rem;
  }
  .det-div{
    display: flex;
    align-items: center;
    justify-content: center;
  }

